<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>
  <div class="field text-center">
    <%= f.label :host %><br>
    <%= f.text_field :host, required: true %>
  </div>
  <div class="field text-center">
    <%= f.label :description %><br>
    <%= f.text_area :description, required: true %>
  </div>
  <div class="field text-center">
    <%= f.label :price %><br>
    <%= f.number_field :price, required: true %><br>
  </div>

  <div class="image">
    <div align="center">
      <%= f.label "Image" %><br>
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="checkbox text-center">
      <b>Availability</b><br>
      <%= f.check_box :availability, required: false, label: false %>
  </div><br>  
  <div class="actions text-center">
    <%= f.submit class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
