<div class="row">

	<div>
		<form class="pure-form">
			<%= form_tag listings_path, :method => 'get' do %>
		    <%= text_field_tag :search, params[:search], class: "pure-input-rounded pure-input-1-4", placeholder: "Where do you want to go?" %>
		    <%= submit_tag "Search", class: "btn btn-primary" %>
		  	<% end %>
	  	</form><br>
	  		<%= link_to "Advanced Search", new_search_path, class: "btn btn-secondary" %><br>
	</div><br>

  

 <%= render @listings %>
 
</div>

<%= will_paginate @listings %>
