<div class="container">
  <div class="row">

    <div class="col-md-6">
      <%= image_tag @listing.image.url(:original), class: "img-responsive" %>
    </div>

    <div class="col-md-6">
      <h3><%= @listing.name %> by <%= @listing.host %></h3>
      <p class="justify"><%= @listing.description %></p>
      <h4 class="text-right">$<%= @listing.price.to_f / 1000 %></h4>

        <% if current_user %>
          
          <% if @reservation.nil? %>
            <p> Error @reservations = nil! </p>
          <% else %>
            <%= render partial: 'date', :locals => {reservation: @reservation} %>
          <% end %>

        <% else %>
          <p>Please login first to check availablityt</p>
        <% end %>


    </div>

  </div>
</div>

