

<div class="jumbotron">
  <h1 class="display-3">PairBnB</h1>
  <p class="lead">Rent unique places to stay from local hosts in 190+ countries..</p>
  <hr class="m-y-2">
  
	<% if current_user %>
	  
		<p class="lead">
		 <a href="/users/<%= current_user.id %>">Welcome back <%= current_user.email %></a>
		</p><br>

		<div>
			<form class="pure-form">
				<%= form_tag listings_path, :method => 'get' do %>
			    <%= text_field_tag :search, params[:search], class: "pure-input-rounded pure-input-1-4", placeholder: "Where do you want to go?" %>
			    <%= submit_tag "Search", class: "pure-button pure-button-primary" %>
			  	<% end %>
		  	</form><br>
		  		<%= link_to "Advanced Search", new_search_path, class: "btn btn-secondary" %><br>
		</div>

	<% else %>

	  	<p class="lead">
	    <a class="btn btn-primary btn-lg" href="http://localhost:3000/sign_up" role="button">Sign up</a>
	  	</p>

	  	<p class="lead">
			<a class="btn btn-secondary btn-lg" href="http://localhost:3000/sign_in" role="button">Sign in</a>
		</p>

	<% end %>
</div>

<div>
	<%= render @listings %>
</div>

<%= will_paginate @listings %>
